.wp-block-toehold-breadcrumbs {
    .toehold-breadcrumbs-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        gap: 5px;

        .toehold-breadcrumbs-item {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #9AA0AE;
            font-family: "Figtree", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            a{
                color: inherit;
                font-family: inherit;
            }

            .toehold-breadcrumbs-separator {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                }
            }
        }
    }
}