@import "../../styles/mixin.scss";

.toehold-card-image-container {
    position: relative;
    overflow: hidden;

    .toehold-card-image-badge {
        position: absolute;
        top: 20px;
        right: -40px;
        background-color: #ff6f61;
        color: #fff;
        padding: 10px 20px;
        transform: rotate(45deg);
        z-index: 1;
        width: 130px;
    }

    .toehold-card-image-caption {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
}