.wp-block-toehold-header-container {
	.header-container {
		min-height: 135px;
		.wp-block-navigation-item__content {
			text-decoration: none;
			color: #9AA0AE;
			font-family: Figtree;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}