@import "../../styles/mixin.scss";

.wp-block-toehold-card {
    &>* {
        box-sizing: border-box;
    }

    .toehold-card-wrapper {
        height: auto;
        text-align: center;
    }

    .toehold-card-image-wrapper {
        width: 100%;
        overflow: hidden;
        position: relative;

        .toehold-card-image {
            width: 100%;
            height: auto;
        }
    }

    .toehold-card-image-ribbon {
        position: absolute;
        top: 30px;
        right: -48px;
        background-color: #ff6f61;
        color: #fff;
        transform: rotate(45deg);
        z-index: 1;
        width: 181px;
        height: 24PX;
        text-align: center;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        vertical-align: middle;

        span{
            vertical-align: middle;
        }
    }

    .toehold-card-tour-name {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }

    &.tour-card {
        &-new-ribbon {
            .toehold-card-image-ribbon{
                background-color: #3773FE;
            }
        }

        &-full-ribbon{
            .toehold-card-image-ribbon{
                background-color: #9AA0AE;
            }
        }

        &-open-ribbon {
            .toehold-card-image-ribbon {
                background-color: #90C271;
            }
        }
        &-filling-fast-ribbon {
            .toehold-card-image-ribbon {
                background-color: #E36767;
            }
        }
    }
}