<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:post-featured-image /-->

<!-- wp:post-title /-->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group"><!-- wp:post-author {"showAvatar":false} /-->

<!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group -->

<!-- wp:separator {"backgroundColor":"neutral-400"} -->
<hr class="wp-block-separator has-text-color has-neutral-400-color has-alpha-channel-opacity has-neutral-400-background-color has-background"/>
<!-- /wp:separator -->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:separator {"backgroundColor":"neutral-400"} -->
<hr class="wp-block-separator has-text-color has-neutral-400-color has-alpha-channel-opacity has-neutral-400-background-color has-background"/>
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"comments"} /-->

<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true,"arrow":"chevron"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"linkLabel":true,"arrow":"chevron"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->